/dist
/node_modules
/database/database.sqlite
/storage/*.key
/storage/framework
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
/public/.DS_Store
/public/assets/.DS_Store